$color_b1: #e97dbf;
$color_b2: #ebaff7;

.box-shadow {
  box-shadow: 0 4px 20px 0 grey;
}

.hover-zoom {
  transition: all .2s ease-in-out;
}

.hover-zoom:hover{
  transform: scale(1.1);
  background: radial-gradient($color_b1, $color_b2);
}

.nav-card {
  background: radial-gradient($color_b2, $color_b1);
  color: #ffffff;
}

.icon-tile{
  height: 12rem;
  object-fit: cover;
}

.button:hover{
  background: radial-gradient($color_b1, $color_b2);
}