
$color01: red;
$color02: blue;
$color03: green;
$color04: yellow;
$color05: orange;
$color06: purple;
$color07: brown;
$color08: pink;
$color09: grey;
$color-00: #ff69b4;
$color-01: #b0e0e6;
$color-02: #7fffd4;
$color-03: #ffdab9;
$color-04: #d87bd8;
$color-05: #fdce55;
$color-06: #f7b946;

.wrapper{
  background-color: $color08;
}

.wrapper2{
  background-color: $color07;
}


.headerpane{
  background-color: $color07;
  position: sticky;
  top: 0px;
}

.footerpane{
  background-color: $color06;
  position: sticky;
  bottom: 0px;
}

.mainpane{
  background-color: $color03;
}

.leftpane{
  background-color: $color04;
}
.rightpane{
  background-color: $color05;
}

.centerpane{
  background-color: $color09;
}

